.menu-bar {
  margin-bottom: 2%;
}

.toolbar {
  width: 70%;
  margin: 0 auto;
}

.media-images {
  width: 90% !important;
  margin: 0 auto;
}

.media-images-cart-item {
  padding: 3%;
}

.total-price-area {
  margin: 5% auto;
}

.total-price-area-menu:hover {
  cursor: default;
}

a {
  text-decoration: none;
  color: unset;
}
